<div class="content-container">
  <div class="centered-content">
    <h1 class="mainTitle">PocketPlanner</h1>
  </div>
</div>

<div class="sessionBtns">
  <%= link_to "LOG IN", new_user_session_path, class: "logInBtn" %>
  <%= link_to "SIGN UP", new_user_registration_path, class: "logOutBtn" %>
</div>
